


<div>
    <!-- <form [formGroup]="searchNutrient" (submit)="searchNutrients()">
        <label for="FoodItem"></label>
        <input type="text" name="searchNutrient" id="searchNutrient" formControlName="nutrient">
        <input type="submit" name="submit" value="submit">
    </form> -->
 

  
    <table>
                <th>Group</th>
                <th>Name</th> 
                <th>Ds</th>
                <th>NBDNo</th>
                <th>Manu</th>
        <tbody *ngFor="let item of items">
            <tr>
                
              </tr>
              <tr>
                <th>{{item.group}}</th>
                <th>{{item.name}}</th> 
                <th>{{item.ds}}</th>
                <th>{{item.ndbno}}</th>
                <th>{{item.manu}}</th> 
                <th><button (click)="execute(item.ndbno)">view</button></th>
              </tr>
        </tbody>
    </table>
</div>